:root {
    font-family: Roboto, sans-serif;
    overscroll-behavior: none;
}

body {
    margin: 0;
    overscroll-behavior: none;
}

a {
    text-decoration: none;
}

a:visited {
   color: inherit;
}
