:root {
    font-family: Roboto, sans-serif;
    overscroll-behavior: none;
}

body {
    margin: 0;
    overscroll-behavior: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.home {
    color: #333;
    a {
        color: #337ab7;
        &:hover {
            text-decoration: underline;
        }
    }
    .description {
        font-size: 1.2rem;
    }
}
